
#items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item a{
    font-style: bold;
    font-weight: 600;
    color: white;
    transition-duration: 0.2s;
    background-color: var(--negro);
}
.item a:hover{
    color:gray
}


#barra-navegacion{
    position:fixed;
    align-content: center;
    z-index: 99;
    top: 10px;
    right: 29%;
    background-color: var(--negro);
    padding-right: 2rem;
    border-radius: 20px;
}