<h2>Chat Global</h2>

<div class="container-mensajes">
    <div *ngIf="loading" class="cargando-mensajes">
        <p>Cargando mensajes...</p>
    </div>
</div>

<div *ngIf="error" class="error-mensaje">
    {{ error }}
</div>

<div *ngFor="let message of messages" class="mensajes">

    <div class="header-mensaje">
        <p class="usuario">{{ message.user_name}}</p>
        <p class="fecha">{{ formatDia(message.created_at) }}</p>
    </div>

    <div class="contenido">
        {{ message.content }}
    </div>

</div>

<div class="chat-input">

    <form (ngSubmit)="enviarMensaje()" #chatForm="ngForm">

        <div class="grupo-input">
            <input type="text" [(ngModel)]="newMessage" name="newMessage" placeholder="Escribe un mensaje..." required #messageInput="ngModel" [maxlength]="500">
            <button type="submit" [disabled]="!chatForm.form.valid || !newMessage.trim()">Enviar</button>
        </div>

        <div class="cantidad-de-caracteres">
            {{ newMessage.length }}/500
        </div>

    </form>

</div>