<app-navbar/>

<h1 class="titulo-login">Inicia Sesión</h1>

<div class="formulario-login" action="">

    <p>Bienvenido a la sala de juegos. Ingresa tu cuenta</p>

    <input [(ngModel)]="usuario" type="text" id="usuario" placeholder="Usuario">

    <input [(ngModel)]="contrasena" type="password" id="contrasena" placeholder="Contraseña">

    <button type="submit" (click)="IniciarSesion()">Iniciar sesión</button>

    <button type="submit" (click)="InicioRapido()">Inicio rápido</button>

    <a href="/registro">¿No tienes una cuenta? Regístrate</a>
    
</div>

<app-footer/>