/* ESTILOS GENERAL */
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item a{
    font-style: bold;
    font-weight: 200;
    color: white;
    transition-duration: 0.2s;
    background-color: black;
}
.item a:hover{
    color:gray
}

/* BARRA DE NAVEGACION PRINCIPAL */
#barra-navegacion{
    position:fixed;
    align-content: center;
    z-index: 99;
    top: 10px;
    right: 38%;
    background-color: black;
    padding-right: 2rem;
    border-radius: 20px;
}

/* BARRA DE NAVEGACION USUARIO */
.navegacion-usuario{
    position:fixed;
    align-content: center;
    z-index: 98;
    top: 10px;
    right: 10%;
    background-color:var(--azul);
    padding: 1rem;
    border-radius: 20px;
    margin: 0;
}

/* BARRA DE NAVEGACION USUARIO NO LOGUEADO */
.navegacion-usuario .item a{
    background-color: var(--azul);
}
.navegacion-usuario .item a:hover{
    color: var(--azul);
}

/* BARRA DE NAVEGACION USUARIO LOGUEADO */
.navegacion-usuario button, .navegacion-usuario li{
    background-color: var(--azul);
    color: white;
    border: none;
    font-style: bold;
    font-weight: 200;
    transition-duration: 0.2s;
    font-size: medium;
}
.navegacion-usuario button:hover{
    color: rgb(161, 67, 67);
    cursor: pointer;
}