/* You can add global styles to this file, and also import other style files */
:root{
    --negro: rgb(38, 38, 38);
    --blanco: rgb(236, 236, 236);
}

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    color: var(--blanco);
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* CSS DE CARTA JUEGOS */
h1{
    color: var(--blanco);
}

#container-juegos{
    display: grid;
    grid-template-columns: 50% 50%;
}

.carta-juego{
    position: relative;
    justify-items: center;
    overflow: hidden;
    height: 60vh;
}

.carta-juego img{
    position: absolute;
    object-fit: cover;
    height: 60vh;
    width: 100%;
}

.carta-juego .descripcion{
    display: block;
    position: relative;
    color: var(--negro);
    justify-items: center;
    align-content: space-around;
    padding: 2%;
    z-index: 2;
}

#ahorcado{ 
    background-color: white;
}