/* You can add global styles to this file, and also import other style files */
:root{
    --negro: rgb(38, 38, 38);
    --blanco: rgb(236, 236, 236);
    --azul:   #0b1120;
    --verde: rgb(47, 255, 57);
}

*{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

body{
    background-color: black;
    color: var(--blanco);
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
