<app-navbar/>

<div class="container-presentacion">
    <h1>PROGRAMACIÓN IV - T.P 1</h1>
    <p>Sala de juegos donde los medirás tus capacidades cognitivas y motrices.</p>
</div>

<div class="container-juegos">
    <div class="carta-juego">
        <div class="descripcion">
            <h2>Ta Te Ti</h2>
            <p>Juego en pareja. Una matriz de 3x3, cada uno va a ir colocando X o O según corresponda al equipo por turnos. Quien logre hacer una fila, columna o diagonal de 3 seguidos, gana</p>
            <a href="">Entrar</a>
        </div>
        <img src="https://http2.mlstatic.com/storage/mshops-appearance-api/images/68/393370168/logo-2022072110310662100.jpeg" width="300px" height="300px" alt="">
    </div>
</div>

<app-footer/>