/* ESTILO PORTADA */
.container-presentacion{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    justify-items: center;
    align-content: center;
}

.container-presentacion h1{
    color: var(--blanco);
    font-size: 3rem;
}
