<app-navbar/>

<div class="container-presentacion">
    <h1>PROGRAMACIÓN IV - T.P 1</h1>
    <p>Sala de juegos donde los medirás tus capacidades cognitivas y motrices.</p>
</div>

<div id="container-juegos">

    <div *ngFor="let juego of juegos" class="carta-juego" (mouseenter)="AnimacionCartas('carta-' + juego.id)">
        <img [src]="juego.imagen" [alt]="'img-' + juego.titulo">
        <div class="descripcion" [ngStyle]="estilosDescripcion" id= {{juego.id}}>
            <h2>{{ juego.titulo }}</h2>
            <a [href]='juego.link'>Entrar</a>
        </div>
    </div>

</div>


<app-footer/>