<footer id="footer">

    <div class="seccion-contactos">

        <div class="footer-nav">

            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/registro">Registrate</a></li>
                <li><a href="/login">Inicia sesión</a></li>
                <li><a href="/quienes-somos">Quienes somos</a></li>
                <li><a href="/chat">Chat en tiempo real</a></li>
            </ul>

        </div>

        <div class="footer-redes">

            <div class="contacto">
                <ul>
                    <li>11-3104-2060</li>
                    <li>Buenos Aires, Argentina</li>
                    <li>Belgrano, CABA</li>
                </ul>
            </div>

            <div class="redes">
                <ul>
                    <li><a target="_blank" href="https://github.com/SantiagoPerezV">GitHub</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/santiago-perez-villa/">Linkedin</a></li>
                    <li><a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJZfRrzTfgwBxWLPnmhKcTpzWprwvHtDtjfDbJtsHBGkPGlglvLKDSqvmXpxnSKPDqbSRwg">Gmail</a></li>
                </ul>
            </div>

        </div>

    </div>
    
    <div class="seccion-abajo">
        
        <h2>SALA DE JUEGOS</h2>
        <p>SANTIAGO PEREZ VILLA</p>
        
    </div>
    
</footer>