#footer{
    height: 30vh;
    font-weight: 500;
    position: sticky;
    background:var(--azul);
    padding: 3rem;
    font-size: 0.9rem;
}

.seccion-contactos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items:normal;
}

.footer-redes{
    display: flex;
    justify-self: center;
    align-self: center;
}

#footer a{
    color: gray;
}

.seccion-abajo{
    display: flex;
    justify-content: space-around;
}

.seccion-abajo p, .seccion-abajo h2{
    font-weight: 300;
    font-size: 2rem;
    margin-top: 0;
}

#footer ul li a:hover{
    color: white;
    transition-duration: 0.2s;
}