#footer{
    height: 70vh;
    font-weight: 500;
    position: sticky;
    background-color: var(--negro);
}

.seccion-contactos{
    display: grid;
    grid-template-columns: 40% 40%;
}

.footer-nav ul{
    font-size: 2.5rem;
}

.footer-redes{
    display: flex;
    justify-self: center;
    align-self: center;
}

.seccion-abajo{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 3rem;
    font-weight: 300;
}

#footer a{
    color: gray;
}

.seccion-abajo h2{
    font-weight: 300;
    font-size: 2rem;
    padding-left: 40px;
}

.seccion-abajo p, .seccion-abajo h2{
    margin-top: 0;
}

#footer ul li a:hover{
    color: white;
    transition-duration: 0.2s;
}