<app-navbar/>

<h1 class="titulo-login">Registrate</h1>

<div class="formulario-login">

    <p>Bienvenido a la sala de juegos. Registra tu cuenta</p>

    <input [(ngModel)]="mail" type="text" id="mail" placeholder="Mail">

    <input [(ngModel)]="usuario" type="text" id="usuario" placeholder="Usuario">

    <input [(ngModel)]="contrasena" type="password" id="contrasena" placeholder="Contraseña">

    <input [(ngModel)]="contrasena_repetida" type="password" id="contrasena-repetida" placeholder="Repite la contraseña">

    <button type="submit" (click)="Registrar()" >Registrar</button>

    <a href="/login">¿Ya tienes una cuenta? Inicia sesión</a>
    
</div>

<app-footer/>