

*{
    justify-items: center;
    text-align: center;
    color: var(--blanco);
}

.titulo-login{
    font-size:7vw;
}

.formulario-login{
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}

.formulario-login input{
    margin-top: 5%;
}

.formulario-login button{
    margin: 3%;
    color: var(--negro);
}

.formulario-login p, .formulario-login a{
    background-color: var(--negro);
}