<app-navbar/>

<h1 class="titulo-login">Registrate</h1>

<!-- Mail, usuario, contraseña, confirmar contraseña -->

<form class="formulario-login" action="">

    <p>Bienvenido a la sala de juegos. Registra tu cuenta</p>

    <input type="text" placeholder="Mail">

    <input type="text" placeholder="Usuario">

    <input type="password" placeholder="Contraseña">

    <input type="password" placeholder="Repite la contraseña">

    <button type="submit">Registrar</button>

    <a href="/login">¿Ya tienes una cuenta? Inicia sesión</a>
    
</form>

<app-footer/>